@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'Roboto';
  src: url('/font/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Baskervville';
  src: url('/font/Baskervville-Regular.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Satoshi';
  src: url('/font/Satoshi-Regular.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Tirelessly-Ly';
  src:  url('/font/Tirelessly_Love_You.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica,'Roboto', sans-serif; 
}

.font-baskervville {
  font-family: 'Baskervville', cursive;
}

.font-satoshi {
  font-family: 'Satoshi', cursive;
}

.font-roboto {
  font-family: 'Roboto', cursive;
}

.font-tirelessly {
  font-family: 'Tirelessly-Ly', cursive, sans-serif; /* Fallbacks */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.tw-font-great-vibes {
  /* font-family: 'Great Vibes', cursive; */
}
